

<body>
        <div class="card">{{ title }} </div>
        <div class="card">{{ data }} </div>
        <div class="">{{ user.username }} </div>



    <div class="container-fluid">
        <div class="row">
            {{#each data}}
            <div class="card p-2">
                <div class="card-header bg-dark">
                    <h4 class="text-muted">GROUP</h4>
                </div>
                <form action="#" method="post" id="add-fav">
                    <div class="">
                        <div class="thumbnail">
                            <img alt="">
                            <div class="caption">
                                <div class="card-body">
                                    <h3 class="text-center">{{ name }}</h3>
                                </div>
                            </div>
                            <div class="card-footer bg-dark">
                                <button class="btn btn-light add-fav">
                                    Add To Favs
                                </button>
                                <a href="/group/{{ name }}"  type="button" class="btn btn-light stretched-link">Go To</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {{/each}}
        </div>

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>